# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.o
obj/local/x86/libstdc++.a
*.d
*.so
obj/local/armeabi-v7a/libstdc++.a
obj/local/mips/libstdc++.a
obj/local/armeabi/libstdc++.a
*.ap_
gen/com/example/androidjniproject/R.java
*.class
*.cache
*.dex
bin/dexedLibs/android-support-v4-7197c03d320f415123e5c3da9dabbd94.jar
*.apk
bin/AndroidManifest.xml
gen/com/example/androidjniproject/BuildConfig.java
bin/res/crunch/drawable-xxhdpi/ic_launcher.png
bin/res/crunch/drawable-hdpi/ic_launcher.png
bin/res/crunch/drawable-mdpi/ic_launcher.png
bin/res/crunch/drawable-xhdpi/ic_launcher.png
